In [50]:
import numpy as np # linear algebra
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [51]:
df = pd.read_csv(r'C:\Users\pc\Desktop\Data Science Folder\Retail3\train.csv')
x_pred= pd.read_csv(r'C:\Users\pc\Desktop\Data Science Folder\Retail3\test.csv')

In [52]:
def convert_dates(x):
    x['date']=pd.to_datetime(x['date'])
    x['month']=x['date'].dt.month
    x['year']=x['date'].dt.year
    x['dayofweek']=x['date'].dt.dayofweek
    x.pop('date')
    return x

In [53]:
df = convert_dates(df)
x_pred = convert_dates(x_pred)

In [54]:
def add_avg(x):
    x['daily_avg']=x.groupby(['item','store','dayofweek'])['sales'].transform('mean')
    x['monthly_avg']=x.groupby(['item','store','month'])['sales'].transform('mean')
    return x
df = add_avg(df)

In [55]:
daily_avg = df.groupby(['item','store','dayofweek'])['sales'].mean().reset_index()
monthly_avg = df.groupby(['item','store','month'])['sales'].mean().reset_index()

In [56]:
def merge(x,y,col,col_name):
    x =pd.merge(x, y, how='left', on=None, left_on=col, right_on=col,
            left_index=False, right_index=False, sort=True,
             copy=True, indicator=False,validate=None)
    x=x.rename(columns={'sales':col_name})
    return x
x_pred=merge(x_pred, daily_avg,['item','store','dayofweek'],'daily_avg')
x_pred=merge(x_pred, monthly_avg,['item','store','month'],'monthly_avg')

In [57]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('sales',axis=1),df.pop('sales'),random_state=123,test_size=0.2)

In [58]:
def XGBmodel(x_train,x_test,y_train,y_test):
    matrix_train = xgb.DMatrix(x_train,label=y_train)
    matrix_test = xgb.DMatrix(x_test,label=y_test)
    model=xgb.train(params={'objective':'reg:linear','eval_metric':'mae'}
                    ,dtrain=matrix_train,num_boost_round=500, 
                    early_stopping_rounds=20,evals=[(matrix_test,'test')],)
    return model

model=XGBmodel(x_train,x_test,y_train,y_test)

[14:06:32] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[0]	test-mae:36.3051
Will train until test-mae hasn't improved in 20 rounds.
[14:06:32] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[1]	test-mae:25.4362
[14:06:33] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[2]	test-mae:17.8989
[14:06:33] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[3]	test-mae:12.8191
[14:06:34] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[4]	test-mae:9.59585
[14:06:34] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[5]	test-mae:7.71342
[14:06:35] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[6]	test-mae:6.6857
[14:06:35] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[7]	test-mae:6.14732
[14:06:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[8]	test-mae:5.8761
[14:06:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[9]	test-mae:5.74032
[14:06:37] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[10]	test-mae:5.67089
[14:06:37] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[11]	test-mae:5.63592
[14:06:38] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[12]	test-mae:5.61763
[14:06:38] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[13]	test-mae:5.60841
[14:06:39] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[14]	test-mae:5.60202
[14:06:39] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[15]	test-mae:5.59881
[14:06:40] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[16]	test-mae:5.59624
[14:06:40] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[17]	test-mae:5.59331
[14:06:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[18]	test-mae:5.59243
[14:06:41] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[19]	test-mae:5.59148
[14:06:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 112 extra nodes, 0 pruned nodes, max_depth=6
[20]	test-mae:5.5905
[14:06:42] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[21]	test-mae:5.58969
[14:06:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[22]	test-mae:5.58963
[14:06:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[23]	test-mae:5.58931
[14:06:43] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[24]	test-mae:5.58861
[14:06:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[25]	test-mae:5.58766
[14:06:44] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[26]	test-mae:5.58744
[14:06:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[27]	test-mae:5.58648
[14:06:45] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 114 extra nodes, 0 pruned nodes, max_depth=6
[28]	test-mae:5.5863
[14:06:46] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 120 extra nodes, 0 pruned nodes, max_depth=6
[29]	test-mae:5.58638
[14:06:46] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 118 extra nodes, 0 pruned nodes, max_depth=6
[30]	test-mae:5.58628
[14:06:46] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[31]	test-mae:5.58616
[14:06:47] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[32]	test-mae:5.58602
[14:06:47] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[33]	test-mae:5.58533
[14:06:48] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 120 extra nodes, 0 pruned nodes, max_depth=6
[34]	test-mae:5.58535
[14:06:48] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[35]	test-mae:5.58516
[14:06:48] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[36]	test-mae:5.58485
[14:06:49] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 106 extra nodes, 0 pruned nodes, max_depth=6
[37]	test-mae:5.58457
[14:06:49] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[38]	test-mae:5.58425
[14:06:50] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[39]	test-mae:5.58352
[14:06:50] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[40]	test-mae:5.58326
[14:06:50] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[41]	test-mae:5.58322
[14:06:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[42]	test-mae:5.58333
[14:06:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[43]	test-mae:5.58341
[14:06:52] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 116 extra nodes, 0 pruned nodes, max_depth=6
[44]	test-mae:5.5834
[14:06:52] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[45]	test-mae:5.58371
[14:06:52] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 116 extra nodes, 0 pruned nodes, max_depth=6
[46]	test-mae:5.58388
[14:06:53] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 118 extra nodes, 0 pruned nodes, max_depth=6
[47]	test-mae:5.58401
[14:06:53] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[48]	test-mae:5.58371
[14:06:54] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 106 extra nodes, 0 pruned nodes, max_depth=6
[49]	test-mae:5.58356
[14:06:54] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[50]	test-mae:5.58323
[14:06:55] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[51]	test-mae:5.58316
[14:06:55] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[52]	test-mae:5.58321
[14:06:55] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[53]	test-mae:5.58324
[14:06:56] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 114 extra nodes, 0 pruned nodes, max_depth=6
[54]	test-mae:5.58303
[14:06:56] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[55]	test-mae:5.58314
[14:06:57] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[56]	test-mae:5.58274
[14:06:57] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[57]	test-mae:5.58291
[14:06:58] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 118 extra nodes, 0 pruned nodes, max_depth=6
[58]	test-mae:5.5828
[14:06:58] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[59]	test-mae:5.58262
[14:06:58] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 116 extra nodes, 0 pruned nodes, max_depth=6
[60]	test-mae:5.58249

[14:06:59] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[61]	test-mae:5.58234
[14:06:59] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 106 extra nodes, 0 pruned nodes, max_depth=6
[62]	test-mae:5.58236
[14:07:00] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 118 extra nodes, 0 pruned nodes, max_depth=6
[63]	test-mae:5.58237
[14:07:00] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 114 extra nodes, 0 pruned nodes, max_depth=6
[64]	test-mae:5.58251
[14:07:00] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[65]	test-mae:5.58263
[14:07:01] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 106 extra nodes, 0 pruned nodes, max_depth=6
[66]	test-mae:5.58264
[14:07:01] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[67]	test-mae:5.58254
[14:07:02] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[68]	test-mae:5.5825
[14:07:02] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[69]	test-mae:5.58254
[14:07:03] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 96 extra nodes, 0 pruned nodes, max_depth=6
[70]	test-mae:5.58254
[14:07:03] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[71]	test-mae:5.58242
[14:07:03] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[72]	test-mae:5.58244
[14:07:04] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[73]	test-mae:5.58255
[14:07:04] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 114 extra nodes, 0 pruned nodes, max_depth=6
[74]	test-mae:5.58268
[14:07:05] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[75]	test-mae:5.58241
[14:07:05] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 118 extra nodes, 0 pruned nodes, max_depth=6
[76]	test-mae:5.58245
[14:07:06] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[77]	test-mae:5.58256
[14:07:06] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[78]	test-mae:5.58232
[14:07:06] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 100 extra nodes, 0 pruned nodes, max_depth=6
[79]	test-mae:5.58235
[14:07:07] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[80]	test-mae:5.58219
[14:07:07] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[81]	test-mae:5.58233
[14:07:08] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[82]	test-mae:5.58176
[14:07:08] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[83]	test-mae:5.58178
[14:07:09] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[84]	test-mae:5.58181
[14:07:09] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 114 extra nodes, 0 pruned nodes, max_depth=6
[85]	test-mae:5.58182
[14:07:10] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[86]	test-mae:5.58182
[14:07:10] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[87]	test-mae:5.58171
[14:07:11] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[88]	test-mae:5.58185
[14:07:11] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[89]	test-mae:5.58205
[14:07:11] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[90]	test-mae:5.58203
[14:07:12] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[91]	test-mae:5.58188
[14:07:12] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[92]	test-mae:5.5818
[14:07:13] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[93]	test-mae:5.58179
[14:07:13] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[94]	test-mae:5.58192
[14:07:14] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[95]	test-mae:5.58203
[14:07:14] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[96]	test-mae:5.58212
[14:07:14] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[97]	test-mae:5.58217
[14:07:15] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[98]	test-mae:5.58208
[14:07:15] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[99]	test-mae:5.58222
[14:07:16] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[100]	test-mae:5.58221
[14:07:16] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 112 extra nodes, 0 pruned nodes, max_depth=6
[101]	test-mae:5.58211
[14:07:17] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[102]	test-mae:5.58217
[14:07:17] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[103]	test-mae:5.58248
[14:07:17] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 126 extra nodes, 0 pruned nodes, max_depth=6
[104]	test-mae:5.5826
[14:07:18] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 122 extra nodes, 0 pruned nodes, max_depth=6
[105]	test-mae:5.58266
[14:07:18] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 120 extra nodes, 0 pruned nodes, max_depth=6
[106]	test-mae:5.5828
[14:07:19] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 124 extra nodes, 0 pruned nodes, max_depth=6
[107]	test-mae:5.58312
Stopping. Best iteration:
[87]	test-mae:5.58171

In [59]:
from sklearn.metrics import mean_squared_error


pred_train = model.predict(xgb.DMatrix(x_train), ntree_limit = model.best_ntree_limit)
pred_test = model.predict(xgb.DMatrix(x_test), ntree_limit = model.best_ntree_limit)

rmse = np.sqrt(mean_squared_error(pred_train, y_train))
print('rmse of train : ' , rmse)
               
rmse = np.sqrt(mean_squared_error(pred_test, y_test))
print('rmse of validation : ' , rmse)

rmse of train :  7.179713620675095
rmse of validation :  7.26078515814085

In [65]:
print( model.score(x_train, y_train) )
print( model.score(x_test, y_test))

AttributeError: 'Booster' object has no attribute 'score'

In [60]:
x_pred

          id  store  item  month  year  dayofweek  daily_avg  monthly_avg
0          0      1     1      1  2018          0  15.584615    13.709677
1          7      1     1      1  2018          0  15.584615    13.709677
2         14      1     1      1  2018          0  15.584615    13.709677
3         21      1     1      1  2018          0  15.584615    13.709677
4         28      1     1      1  2018          0  15.584615    13.709677
5          1      1     1      1  2018          1  18.168582    13.709677
6          8      1     1      1  2018          1  18.168582    13.709677
7         15      1     1      1  2018          1  18.168582    13.709677
8         22      1     1      1  2018          1  18.168582    13.709677
9         29      1     1      1  2018          1  18.168582    13.709677
10         2      1     1      1  2018          2  18.793103    13.709677
11         9      1     1      1  2018          2  18.793103    13.709677
12        16      1     1      1  2018          2  18.793103    13.709677
13        23      1     1      1  2018          2  18.793103    13.709677
14        30      1     1      1  2018          2  18.793103    13.709677
15         3      1     1      1  2018          3  19.452107    13.709677
16        10      1     1      1  2018          3  19.452107    13.709677
17        17      1     1      1  2018          3  19.452107    13.709677
18        24      1     1      1  2018          3  19.452107    13.709677
19         4      1     1      1  2018          4  21.015326    13.709677
20        11      1     1      1  2018          4  21.015326    13.709677
21        18      1     1      1  2018          4  21.015326    13.709677
22        25      1     1      1  2018          4  21.015326    13.709677
23         5      1     1      1  2018          5  22.973180    13.709677
24        12      1     1      1  2018          5  22.973180    13.709677
25        19      1     1      1  2018          5  22.973180    13.709677
26        26      1     1      1  2018          5  22.973180    13.709677
27         6      1     1      1  2018          6  23.796935    13.709677
28        13      1     1      1  2018          6  23.796935    13.709677
29        20      1     1      1  2018          6  23.796935    13.709677
...      ...    ...   ...    ...   ...        ...        ...          ...
44970  44980     10    50      3  2018          0  58.953846    67.780645
44971  44987     10    50      3  2018          0  58.953846    67.780645
44972  44994     10    50      3  2018          0  58.953846    67.780645
44973  44974     10    50      3  2018          1  67.777778    67.780645
44974  44981     10    50      3  2018          1  67.777778    67.780645
44975  44988     10    50      3  2018          1  67.777778    67.780645
44976  44995     10    50      3  2018          1  67.777778    67.780645
44977  44975     10    50      3  2018          2  68.823755    67.780645
44978  44982     10    50      3  2018          2  68.823755    67.780645
44979  44989     10    50      3  2018          2  68.823755    67.780645
44980  44996     10    50      3  2018          2  68.823755    67.780645
44981  44969     10    50      3  2018          3  73.532567    67.780645
44982  44976     10    50      3  2018          3  73.532567    67.780645
44983  44983     10    50      3  2018          3  73.532567    67.780645
44984  44990     10    50      3  2018          3  73.532567    67.780645
44985  44997     10    50      3  2018          3  73.532567    67.780645
44986  44970     10    50      3  2018          4  78.275862    67.780645
44987  44977     10    50      3  2018          4  78.275862    67.780645
44988  44984     10    50      3  2018          4  78.275862    67.780645
44989  44991     10    50      3  2018          4  78.275862    67.780645
44990  44998     10    50      3  2018          4  78.275862    67.780645
44991  44971     10    50      3  2018          5  82.854406    67.780645
44992  44978     10    50      3  2018          5  82.854406    67.780645
44993  44985     10    50      3  2018          5  82.854406    67.780645
44994  44992     10    50      3  2018          5  82.854406    67.780645
44995  44999     10    50      3  2018          5  82.854406    67.780645
44996  44972     10    50      3  2018          6  87.984674    67.780645
44997  44979     10    50      3  2018          6  87.984674    67.780645
44998  44986     10    50      3  2018          6  87.984674    67.780645
44999  44993     10    50      3  2018          6  87.984674    67.780645

[45000 rows x 8 columns]

In [61]:
submission = pd.DataFrame(x_pred.pop('id'))

submission

          id
0          0
1          7
2         14
3         21
4         28
5          1
6          8
7         15
8         22
9         29
10         2
11         9
12        16
13        23
14        30
15         3
16        10
17        17
18        24
19         4
20        11
21        18
22        25
23         5
24        12
25        19
26        26
27         6
28        13
29        20
...      ...
44970  44980
44971  44987
44972  44994
44973  44974
44974  44981
44975  44988
44976  44995
44977  44975
44978  44982
44979  44989
44980  44996
44981  44969
44982  44976
44983  44983
44984  44990
44985  44997
44986  44970
44987  44977
44988  44984
44989  44991
44990  44998
44991  44971
44992  44978
44993  44985
44994  44992
44995  44999
44996  44972
44997  44979
44998  44986
44999  44993

[45000 rows x 1 columns]

In [62]:
x_pred

       store  item  month  year  dayofweek  daily_avg  monthly_avg
0          1     1      1  2018          0  15.584615    13.709677
1          1     1      1  2018          0  15.584615    13.709677
2          1     1      1  2018          0  15.584615    13.709677
3          1     1      1  2018          0  15.584615    13.709677
4          1     1      1  2018          0  15.584615    13.709677
5          1     1      1  2018          1  18.168582    13.709677
6          1     1      1  2018          1  18.168582    13.709677
7          1     1      1  2018          1  18.168582    13.709677
8          1     1      1  2018          1  18.168582    13.709677
9          1     1      1  2018          1  18.168582    13.709677
10         1     1      1  2018          2  18.793103    13.709677
11         1     1      1  2018          2  18.793103    13.709677
12         1     1      1  2018          2  18.793103    13.709677
13         1     1      1  2018          2  18.793103    13.709677
14         1     1      1  2018          2  18.793103    13.709677
15         1     1      1  2018          3  19.452107    13.709677
16         1     1      1  2018          3  19.452107    13.709677
17         1     1      1  2018          3  19.452107    13.709677
18         1     1      1  2018          3  19.452107    13.709677
19         1     1      1  2018          4  21.015326    13.709677
20         1     1      1  2018          4  21.015326    13.709677
21         1     1      1  2018          4  21.015326    13.709677
22         1     1      1  2018          4  21.015326    13.709677
23         1     1      1  2018          5  22.973180    13.709677
24         1     1      1  2018          5  22.973180    13.709677
25         1     1      1  2018          5  22.973180    13.709677
26         1     1      1  2018          5  22.973180    13.709677
27         1     1      1  2018          6  23.796935    13.709677
28         1     1      1  2018          6  23.796935    13.709677
29         1     1      1  2018          6  23.796935    13.709677
...      ...   ...    ...   ...        ...        ...          ...
44970     10    50      3  2018          0  58.953846    67.780645
44971     10    50      3  2018          0  58.953846    67.780645
44972     10    50      3  2018          0  58.953846    67.780645
44973     10    50      3  2018          1  67.777778    67.780645
44974     10    50      3  2018          1  67.777778    67.780645
44975     10    50      3  2018          1  67.777778    67.780645
44976     10    50      3  2018          1  67.777778    67.780645
44977     10    50      3  2018          2  68.823755    67.780645
44978     10    50      3  2018          2  68.823755    67.780645
44979     10    50      3  2018          2  68.823755    67.780645
44980     10    50      3  2018          2  68.823755    67.780645
44981     10    50      3  2018          3  73.532567    67.780645
44982     10    50      3  2018          3  73.532567    67.780645
44983     10    50      3  2018          3  73.532567    67.780645
44984     10    50      3  2018          3  73.532567    67.780645
44985     10    50      3  2018          3  73.532567    67.780645
44986     10    50      3  2018          4  78.275862    67.780645
44987     10    50      3  2018          4  78.275862    67.780645
44988     10    50      3  2018          4  78.275862    67.780645
44989     10    50      3  2018          4  78.275862    67.780645
44990     10    50      3  2018          4  78.275862    67.780645
44991     10    50      3  2018          5  82.854406    67.780645
44992     10    50      3  2018          5  82.854406    67.780645
44993     10    50      3  2018          5  82.854406    67.780645
44994     10    50      3  2018          5  82.854406    67.780645
44995     10    50      3  2018          5  82.854406    67.780645
44996     10    50      3  2018          6  87.984674    67.780645
44997     10    50      3  2018          6  87.984674    67.780645
44998     10    50      3  2018          6  87.984674    67.780645
44999     10    50      3  2018          6  87.984674    67.780645

[45000 rows x 7 columns]

In [63]:
y_pred = model.predict(xgb.DMatrix(x_pred), ntree_limit = model.best_ntree_limit)

y_pred

array([11.905192, 11.905192, 11.905192, ..., 88.389984, 88.389984,
       88.389984], dtype=float32)

In [64]:


submission['sales']= y_pred

submission

          id      sales
0          0  11.905192
1          7  11.905192
2         14  11.905192
3         21  11.905192
4         28  11.905192
5          1  14.773121
6          8  14.773121
7         15  14.773121
8         22  14.773121
9         29  14.773121
10         2  14.773536
11         9  14.773536
12        16  14.773536
13        23  14.773536
14        30  14.773536
15         3  15.448776
16        10  15.448776
17        17  15.448776
18        24  15.448776
19         4  16.325722
20        11  16.325722
21        18  16.325722
22        25  16.325722
23         5  17.676361
24        12  17.676361
25        19  17.676361
26        26  17.676361
27         6  18.543560
28        13  18.543560
29        20  18.543560
...      ...        ...
44970  44980  60.849358
44971  44987  60.849358
44972  44994  60.849358
44973  44974  70.235352
44974  44981  70.235352
44975  44988  70.235352
44976  44995  70.235352
44977  44975  70.189056
44978  44982  70.189056
44979  44989  70.189056
44980  44996  70.189056
44981  44969  74.862267
44982  44976  74.862267
44983  44983  74.862267
44984  44990  74.862267
44985  44997  74.862267
44986  44970  80.063316
44987  44977  80.063316
44988  44984  80.063316
44989  44991  80.063316
44990  44998  80.063316
44991  44971  86.102005
44992  44978  86.102005
44993  44985  86.102005
44994  44992  86.102005
44995  44999  86.102005
44996  44972  88.389984
44997  44979  88.389984
44998  44986  88.389984
44999  44993  88.389984

[45000 rows x 2 columns]