In [2]:
import pandas as pd
import numpy as np
from math import isnan

# null values

In [3]:
df= pd.DataFrame({'col1': [10, 10, 10, 15, 15, 15],
                   'col2': [13, 13, 18, 18, 40, 40],
                      'col3': [np.nan, np.nan, np.nan, -37, np.nan, 52],
                       'col4': [10, -14, np.nan, np.nan, np.nan, 52],
                       'col5': [10, -14, np.nan, np.nan, np.nan, 52]})
df

   col1  col2  col3  col4  col5
0    10    13   NaN  10.0  10.0
1    10    13   NaN -14.0 -14.0
2    10    18   NaN   NaN   NaN
3    15    18 -37.0   NaN   NaN
4    15    40   NaN   NaN   NaN
5    15    40  52.0  52.0  52.0

In [4]:
L = [ 'col3' , 'col4' ]

for col in L:
    
    df.loc[df[col]<0, col] = np.nan

    gb = df.groupby(by=['col1', 'col2' ], as_index=False)[col].mean()

    for i in range(len(df)):
        if ( isnan(df[col][i]) ):
            df[col][i] = gb[ (gb['col1'] == df['col1'][i]) & ( gb['col2'] == df['col2'][i]) ][col]

C:\Users\pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [5]:
df= df.dropna(subset= ['col4', 'col5'])
df

   col1  col2  col3  col4  col5
0    10    13   NaN  10.0  10.0
1    10    13   NaN  10.0 -14.0
5    15    40  52.0  52.0  52.0

In [6]:
df = df.fillna( df.mean() )
df

   col1  col2  col3  col4  col5
0    10    13  52.0  10.0  10.0
1    10    13  52.0  10.0 -14.0
5    15    40  52.0  52.0  52.0

# experiment: shift(-1)

In [7]:
df = pd.DataFrame({'Col1': [10, 10, 15, 15, 15, 45],
                   'Col2': [13, 23, 18, 33, 14, 48],
                      'Col3': [17, 27, 22, 37, 28, 52]})
df

   Col1  Col2  Col3
0    10    13    17
1    10    23    27
2    15    18    22
3    15    33    37
4    15    14    28
5    45    48    52

In [8]:
df.groupby(by='Col1')['Col2'].shift(-1)

0    23.0
1     NaN
2    33.0
3    14.0
4     NaN
5     NaN
Name: Col2, dtype: float64

# Experience : rolling(window=3, min_periods=1).min()

In [ ]:
df = pd.DataFrame({'Col1': [10, 10, 15, 15, 15, 45],
                         'Col2': [13, 23, 18, 33, 14, 48],
                             'Col3': [17, 27, 22, 37, 28, 52]})
df

In [ ]:
f_min = lambda x: x.rolling(window=3, min_periods=1).min() 

train['Col4'] = df.groupby(['Col1'])['Col2'].apply(f_min)

# Experience : shift(lag)

In [ ]:
df = pd.DataFrame({'Col1': [10, 10, 15, 15, 15, 45],
                   'Col2': [13, 23, 18, 33, 14, 48],
                      'Col3': [17, 27, 22, 37, 28, 52]})
df

In [ ]:
df2 = df.copy()
df2['Col4'] = df2.groupby(['Col1'])['Col2'].shift(1)
df2

# experience : append

In [ ]:
df1 = pd.DataFrame({'Col1': [10, 10, 15, 15, 15, 45],
                   'Col2': [13, 23, 18, 33, 14, 48],
                      'Col3': [17, 27, 22, 37, 28, 52]})

In [ ]:
df2 = pd.DataFrame({'Col1': [20,20],
                   'Col2': [30,30],
                      'Col3': [40,40]})
print(df1)
print(df2)

df1 = df1.append(df2)
print(df1)